body {
	background-color: #c33764;
	text-align: center;
	margin-top: 200px;
}

#timer {

	font-family: "lato";
	font-size: 70px;
	font-weight: 400;
}

button {
	width: 100px;
	height: 40px;
	background-color: #b06ab3; 
}

button:hover {
	cursor: pointer;
}

h1 {
	color: #34e89e;

}

